src/main/resources/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://services.wahyu.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://model.wahyu.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services.wahyu.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.wahyu.com/xsd">
            <xs:complexType name="Employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="posisi" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://model.wahyu.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.wahyu.com">
            <xs:import namespace="http://model.wahyu.com/xsd"/>
            <xs:element name="getEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmployee">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="employee" nillable="true" type="ax22:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeRequest">
        <wsdl:part name="parameters" element="ns:getEmployee"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part name="parameters" element="ns:getEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeRequest">
        <wsdl:part name="parameters" element="ns:getAllEmployee"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeResponse">
        <wsdl:part name="parameters" element="ns:getAllEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeRequest">
        <wsdl:part name="parameters" element="ns:deleteEmployee"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeResponse">
        <wsdl:part name="parameters" element="ns:deleteEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="addEmployeeRequest">
        <wsdl:part name="parameters" element="ns:addEmployee"/>
    </wsdl:message>
    <wsdl:message name="addEmployeeResponse">
        <wsdl:part name="parameters" element="ns:addEmployeeResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeServicesPortType">
        <wsdl:operation name="getEmployee">
            <wsdl:input message="ns:getEmployeeRequest" wsaw:Action="urn:getEmployee"/>
            <wsdl:output message="ns:getEmployeeResponse" wsaw:Action="urn:getEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <wsdl:input message="ns:getAllEmployeeRequest" wsaw:Action="urn:getAllEmployee"/>
            <wsdl:output message="ns:getAllEmployeeResponse" wsaw:Action="urn:getAllEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="ns:deleteEmployeeRequest" wsaw:Action="urn:deleteEmployee"/>
            <wsdl:output message="ns:deleteEmployeeResponse" wsaw:Action="urn:deleteEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <wsdl:input message="ns:addEmployeeRequest" wsaw:Action="urn:addEmployee"/>
            <wsdl:output message="ns:addEmployeeResponse" wsaw:Action="urn:addEmployeeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeServicesSoap11Binding" type="ns:EmployeeServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="urn:getEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <soap:operation soapAction="urn:getAllEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <soap:operation soapAction="urn:addEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeeServicesSoap12Binding" type="ns:EmployeeServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmployee">
            <soap12:operation soapAction="urn:getEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <soap12:operation soapAction="urn:getAllEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap12:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <soap12:operation soapAction="urn:addEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeeServicesHttpBinding" type="ns:EmployeeServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getEmployee">
            <http:operation location="getEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <http:operation location="getAllEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <http:operation location="deleteEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <http:operation location="addEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeServices">
        <wsdl:port name="EmployeeServicesHttpSoap11Endpoint" binding="ns:EmployeeServicesSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/EmployeeServices"/>
        </wsdl:port>
        <wsdl:port name="EmployeeServicesHttpSoap12Endpoint" binding="ns:EmployeeServicesSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/EmployeeServices"/>
        </wsdl:port>
        <wsdl:port name="EmployeeServicesHttpEndpoint" binding="ns:EmployeeServicesHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/EmployeeServices"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
